@import 'lib';

/* Colors */
@topbar: #fdb302;
@background-gray: #f0efef;

@jpp-blue: #336666;
@jpp-brightblue: #0066cc;
@jpp-lightblue: #3399ff;
@jpp-green: #336666;
@jpp-lime: #c9e394;
@jpp-yellow: #F2DE92;
@jpp-orange: #cc9933;
@jpp-brown: #663300;

@jpp-logo-red: #cc3333;
@jpp-logo-blue: #006699;
@jpp-logo-green: #99cc33;

@jpp-login-blue: #3fa9f5;
@jpp-login-green: #8db836;

/* Font stacks */
@sans: "Microsoft Sans Serif", "Helvetica", "Arial", sans-serif;
@gills: "Gill Sans", @sans;

/* General stuff */
body {
    background-color: @background-gray;
    font-family: @sans;
}
#content {
    float: left;
    > div {
        float: left;
    }
}
a {
    color: @jpp-blue;
    &:visited {
        color: @jpp-blue;
    }
    &:hover {
        color: @jpp-lightblue;
    }
}
.center {
    width:1060px;
    margin: auto;
}

h2, h3 {
    margin: 0;
    clear: both;
    font-family: @gills;
    color: @note-gray;
    font-size: 36px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
}

p {
    margin-top: 0;
    font-size: 0.8em;
    line-height: 1.4em;
    color: #666;
}

.disclaimer {
    color: @jpp-green;
    font-size: 11px;
    text-align: right;
}

.controls {
    margin-top: 1em;
    text-align: center;
    .pacman-dot {
        background-color: @jpp-yellow;
        .border-radius(15px);
        box-shadow: 2px 2px 3px #DDDDDD;
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 10px;
        &.spacey {
            margin: 10px 28px;
        }
        &:hover {
            background-color: darken(@jpp-yellow, 10%);
        }
    }
    .jpp {
        display: inline-block;
    }
}

/* JPP Logo in CSS */
.jpp {
    width: 40px;
    height: 40px;
    background-color: @jpp-lime;
    border-radius: 40px;
    display: block;
    position: relative;

    &:before {
        content: " ";
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        top: 2px;
        left: 8px;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 35px solid white;
    }

    &:after {
        content: " ";
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        top: 10px;
        left: 13px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 20px solid @jpp-lime;
    }

    &.rotate {
        .transform(rotate(-180deg));
    }


    &.small {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        &:before {
            top: 2px;
            left: 7px;
            border-width: 13px 0 13px 24px;
        }
        &:after {
            top: 9px;
            left: 11px;
            border-width: 6px 0 6px 12px;
        }
    }
}
a.jpp:hover {
    background-color: darken(@jpp-lime, 10%);
    &:after {
        border-left-color: darken(@jpp-lime, 10%);
    }
}

/* Header area */
header {
    overflow: hidden;
    background-color: @topbar;
    padding-bottom: 0;
    h1 {
        float: left;
        margin: 0 40px 0 0;
        width: 113px;
        height: 36px;
        a {
            background-image: url('../imgs/logo.png');
            background-repeat: no-repeat;
            text-indent: -90000px;
            display: block;
            height: 36px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: @jpp-blue;
        font-family: @sans;
        font-size: 14px;
        &:visited {
            color: @jpp-blue;
        }
    }
    nav {
        float: left;
        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: 0 10px;
                    line-height: 36px;
                    height: 36px;
                    &.on {
                        background-color: rgba(255,255,255,0.7);
                    }
                    &:hover {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .login {
        float: right;
        height: 26px;
        line-height: 26px;
        background-color: #fff;
        display: block;
        padding: 0 10px;
        margin: 5px 0;
    }
}

/* Content area */
#page {
    background-color: #fff;
    padding: 10px 35px 35px;
}

/* Footer */
footer {
    background-color: #fff;
    overflow: hidden;
    padding: 35px 0;
    border-top: 25px solid @light-gray;
    a {
        &:hover {
            opacity: 0.8;
        }
        display: block;
        float: right;
        margin: 0 15px;
        text-indent: -9000px;
        &.igm {
            width: 89px;
            height: 70px;
            background-image: url(../imgs/sponsor-igm.png);
        }
        &.rit {
            width: 102px;
            height: 31px;
            margin-top: 5px;
            background-image: url(../imgs/sponsor-rit.png);
        }
        &.ms {
            width: 101px;
            height: 46px;
            background-image: url(../imgs/sponsor-ms.png);
        }
    }
}

/* Page: Main */
.page-main {
    background-image: url("../imgs/bg-main.png");
    background-position: 10px 300px;
    background-repeat: no-repeat;
    min-height: 780px;
}
#page-main  {
    .logo-big {
        padding-top: 15px;
        span {
            display: block;
            text-align: right;
            font-size: 70px;
            font-family: @gills;
            line-height: 60px;
            text-transform: uppercase;

            &.c1 { color: @jpp-logo-red; }
            &.c2 { color: @jpp-logo-blue; }
            &.c3 { color: @jpp-logo-green; }
        }
    }

    .details {
        padding: 1em;
        background-color: #fff;
        left: -18px;
        position: relative;
    }

    .sliders {
        .box-shadow(2px 2px 2px #CCCCCC);
        background-color: #FFFFFF;
        left: -18px;
        padding: 15px;
        position: relative;
        width: 738px;
        z-index: 1000;
    }
    h2 {
        margin: 15px 0 0;
    }
}

/* Page: About */
.page-about {
    background-image: url("../imgs/bg-about.png");
    background-position: 130px 0;
    background-repeat: no-repeat;
}
#page-about {
    .first {
        padding-left: 35px;
        .border-box();
    }
    .youtube {
        border: 1px solid @light-gray;
        clear: both;
        float: left;
        margin-bottom: 2em;
        padding: 2em;
        background-color: #fff;
    }

    .types {
        padding-top: 210px;
        div {
            margin-bottom: 4em;
        }
    }

    .controls {
        margin-top: 2em;
    }

    #achievements {
        overflow: hidden;
        .achievement {
            > img {
                float: left;
            }
            > div {
                float: left;
                margin-left: 35px;
                width: 370px;
            }
            .subtitle {
                color: @note-gray;
            }
        }
    }
}

/* Page: News */
.page-news {
    background-image: url("../imgs/bg-news.png");
    background-position: 20px center;
    background-repeat: no-repeat;
}
#page-news {
    .boxy {
        border: 1px solid @light-gray;
        padding: 1em;
        margin-top: 2em;
    }
    .blog {
        padding: 2em;
        h3 {
            margin: 1em 0;
        }
    }
}

/* Page: Credits */
#page-credits {
    h2 {
        margin-bottom: 20px;
        font-size: 55px;
    }
    .column {
        padding-top: 2em;
    }
    .credits {
        margin: 1em 0 2em;
        padding: 0;
        font-size: 0.8em;
        list-style: none;
        color: @dark-gray;
        li {
            padding-bottom: 3px;
        }
    }
    .c1 { color: @jpp-logo-red; }
    .c2 { color: @jpp-green; }
    .c3 { color: @jpp-logo-blue; }
    .c4 { color: @jpp-lightblue; }
    .c5 { color: @jpp-orange; }
    .c6 { color: @jpp-brown; }
    .c7 { color: @jpp-green; }

    img {
        padding: 1em;
        background-color: #fff;
        .box-shadow(3px 3px 3px #ccc);
        position: relative;
        left: -1em;
    }
}

/* Page: Contact */
.page-contact {
    background-image: url("../imgs/bg-contact.png");
    background-position: 160px 122px;
    background-repeat: no-repeat;
    min-height: 658px;
}
#page-contact {
    .contact {
        padding-top: 2em;
    }
    input {
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid @note-gray;
        padding: 5px;
        font-size: 0.8em;
    }
    select {
        font-size: 0.8em;
        padding: 5px;
        margin-bottom: 10px;
    }
    button {
        margin-bottom: 10px;
        padding: 5px;
    }
}

/* Page: Login */
.page-login {
    background-image: url("../imgs/bg-login.png");
    background-repeat: no-repeat;
    .disclaimer {
        display: none;
    }
}
#page-login {
    display: table;
    padding: 2em 0;
    /* Hacky way of making left+right the same height */
    & > .column {
        float: none;
        display: table-cell;
        padding: 4px;
        &.spacer {
            width: 18px;
            padding: 0;
            background-position: -348px 20px;
        }
    }
    h2 {
        color: #fff;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        padding: 18px;
    }
    .login-signin {
        background-color: @jpp-login-blue;
        background-position: 20px 20px;
    }
    .login-register {
        background-color: @jpp-login-green;
        background-position: -366px 20px;
    }
    .login-signin, .login-register, .spacer {
        background-image: url("../imgs/red-symbol.png");
        background-repeat: no-repeat;
    }
    form {
        margin: 8em auto 6em;
        overflow: hidden;
        width: 200px;
        input[type=text], input[type=password] {
            .border-box();
            border: 1px solid #999999;
            font-size: 0.9em;
            margin-bottom: 1em;
            padding: 5px;
            width: 100%;
        }
        input[type=image] {
            float: right;
            &:hover {
                opacity: 0.8;
            }
        }
        p {
            color: #000;
            float: right;
            margin-top: 3em;
            a {
                color: @jpp-brightblue;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Page: Register */
.page-register {
    background-image: url("../imgs/bg-login.png");
    background-repeat: no-repeat;
    .disclaimer {
        display: none;
    }
}

#page-register {
    padding: 2em 0;
    .login-register {
        background-color: @jpp-login-green;
        background-image: url("../imgs/red-symbol.png");
        background-repeat: no-repeat;
        background-position: 20px 10px;
        padding: 3em 9em;
        .border-box;
        h2 {
            color: #fff;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 50px;
            margin-bottom: 20px;
        }
        label {
            display: inline-block;
            font-size: 0.9em;
            width: 180px;
        }
        input[type=text], input[type=password] {
            .border-box();
            border: 1px solid #999999;
            font-size: 0.9em;
            margin-bottom: 3em;
            padding: 5px;
            width: 250px;
            &#f_password {
                margin-bottom: 7px;
            }
        }
        label[for=f_icon] img {
            .box-shadow(3px 3px 3px rgba(0,0,0,0.3));
        }
        .icon_info {
            display: inline-block;
            width: 200px;
            input {
                margin-top: 1em;
            }
        }
        p {
            color: #222;
            margin-top: 1em;
        }
        input[type=image] {
            float: right;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
